In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.4.4'

In [7]:
!wget "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv"

--2023-09-11 23:58:32--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8001::154, 2606:50c0:8002::154, 2606:50c0:8003::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8001::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: 'housing.csv.1'

housing.csv.1       100%[===================>]   1.36M  5.73MB/s    in 0.2s

2023-09-11 23:58:33 (5.73 MB/s) - 'housing.csv.1' saved [1423529/1423529]

/data/housing.csv: Scheme missing.
FINISHED --2023-09-11 23:58:33--
Total wall clock time: 0.5s
Downloaded: 1 files, 1.4M in 0.2s (5.73 MB/s)

In [3]:
df = pd.read_csv("housing.csv")

In [4]:
df.shape

(20640, 10)

In [14]:
[col for col in df.columns if df[col].isnull().any()]

[]

In [6]:
df.ocean_proximity.value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [10]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [8]:
df[df.ocean_proximity=='NEAR BAY'].median_house_value.mean()

259212.31179039303

In [11]:
df.total_bedrooms.mean()

537.8705525375618

In [12]:
df.total_bedrooms = df.total_bedrooms.fillna(537.87)

In [13]:
df.total_bedrooms.mean()

537.8705469961225

In [15]:
df_new = df[df.ocean_proximity=='ISLAND']

In [16]:
df_new.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
8314,-118.32,33.35,27.0,1675.0,521.0,744.0,331.0,2.1579,450000.0,ISLAND
8315,-118.33,33.34,52.0,2359.0,591.0,1100.0,431.0,2.8333,414700.0,ISLAND
8316,-118.32,33.33,52.0,2127.0,512.0,733.0,288.0,3.3906,300000.0,ISLAND
8317,-118.32,33.34,52.0,996.0,264.0,341.0,160.0,2.7361,450000.0,ISLAND
8318,-118.48,33.43,29.0,716.0,214.0,422.0,173.0,2.6042,287500.0,ISLAND

In [18]:
df_new = df_new[['housing_median_age', 'total_rooms', 'total_bedrooms']]

In [21]:
X = df_new.to_numpy()

In [22]:
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [24]:
y = np.array([950, 1300, 800, 1000, 1300])

In [25]:
w = (XTX_inv @ X.T) @ y

In [26]:
w

array([23.12330961, -1.48124183,  5.69922946])